*.iml
.gradle
/local.properties
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
.idea
.idea/tasks.xml
.idea/assetWizardSettings.xml
.idea/dictionaries
.idea/navEditor.xml
vcs.xml
# lint
lint/intermediates/
lint/generated/
lint/outputs/
lint/tmp/
*.iws